In [2]:
import pandas as pd
import plotly.express as px
import seaborn as sns

In [3]:
df = pd.read_csv("C:/Users/danie/Downloads/SmA-Four-Tank-Batch-Process_V2.csv", sep = ";")

In [4]:
col = []

for x in df.columns:
    col.append(x.split(" ")[0])
    
df.columns = col

In [26]:
# Entferne alle Schritte mit StepID = 2, da diese für das Projekt nicht relevant sind
df.drop(df[df["CuStepNo"] == 2].index, inplace = True)

In [7]:
# Extrahiere die Zeitangaben bzw. formatiere die Zeitstempel in das richtige Format
df.timestamp = pd.to_datetime(df.timestamp)

df["day"] = df.timestamp.dt.day
df["hour"] = df.timestamp.dt.hour
df["minute"] = df.timestamp.dt.minute
df["second"] = df.timestamp.dt.second

In [10]:
df.columns

Index(['timestamp', 'DeviationID', 'CuStepNo', 'LevelMainTank', 'YC10001_MV',
       'PI12002_PV_Out', 'PI12003_PV_Out', 'YC14001_MV', 'FIC14002_MV',
       'FIC14002_PV_Out', 'FIC14002_SP', 'YC14006_MV', 'PI14012_PV_Out',
       'YC23001_MV', 'YC22001_MV', 'YC21001_MV', 'FIC23002_PV_Out',
       'FIC23002_MV', 'FIC23002_SP', 'FIC22002_MV', 'FIC22002_PV_Out',
       'FIC22002_SP', 'FIC21002_MV', 'FIC21002_PV_Out', 'FIC21002_SP',
       'YS23004_Ctrl', 'YS22004_Ctrl', 'YS21004_Ctrl', 'LIC23002_MV',
       'LIC23002_PV_Out', 'LIC23002_SP', 'LIC22002_MV', 'LIC22002_PV_Out',
       'LIC22002_SP', 'LIC21002_MV', 'LIC21002_PV_Out', 'LIC21002_SP',
       'PIC14007_MV', 'PIC14007_PV_Out', 'PIC14007_SP', 'YC14008_Ctrl',
       'PI10003_PV_Out', 'day', 'hour', 'minute', 'second'],
      dtype='object')

In [27]:
df.head()

,timestamp,DeviationID,CuStepNo,LevelMainTank,YC10001_MV,PI12002_PV_Out,PI12003_PV_Out,YC14001_MV,FIC14002_MV,FIC14002_PV_Out,...,LIC21002_SP,PIC14007_MV,PIC14007_PV_Out,PIC14007_SP,YC14008_Ctrl,PI10003_PV_Out,day,hour,minute,second
0,2018-10-10 14:53:19,1,1,149.985779,100,0.070602,0.087963,100.0,100.0,0.0,...,15,10.0,0.127008,0.2,0,0.001710,10,14,53,19
1,2018-10-10 14:53:20,1,1,149.985779,100,0.070602,0.086806,100.0,100.0,0.0,...,15,10.0,0.127021,0.2,0,0.001715,10,14,53,20
2,2018-10-10 14:53:21,1,1,150.027740,100,0.071759,0.103588,100.0,100.0,0.0,...,15,10.0,0.127021,0.2,0,0.001712,10,14,53,21
3,2018-10-10 14:53:22,1,1,150.043427,100,0.072338,0.173611,100.0,100.0,0.0,...,15,10.0,0.126945,0.2,0,0.001698,10,14,53,22
4,2018-10-10 14:53:23,1,1,150.015564,100,0.065972,0.326968,100.0,100.0,0.0,...,15,10.0,0.126945,0.2,0,0.001700,10,14,53,23

In [29]:
df.timestamp.diff(-1)

0        -1 days +23:59:59
1        -1 days +23:59:59
2        -1 days +23:59:59
3        -1 days +23:59:59
4        -1 days +23:59:59
                ...
278487   -1 days +23:59:59
278488   -1 days +23:59:59
278489   -1 days +23:59:59
278490   -1 days +23:59:59
278491                 NaT
Name: timestamp, Length: 278425, dtype: timedelta64[ns]

In [32]:
dfse

,timestamp,DeviationID,CuStepNo,LevelMainTank,YC10001_MV,PI12002_PV_Out,PI12003_PV_Out,YC14001_MV,FIC14002_MV,FIC14002_PV_Out,...,PIC14007_PV_Out,PIC14007_SP,YC14008_Ctrl,PI10003_PV_Out,day,hour,minute,second,dstep_p,dstep_n
0,2018-10-10 14:53:19,1,1,149.985779,100,0.070602,0.087963,100.000000,100.000000,0.000000,...,0.127008,0.2,0,0.001710,10,14,53,19,NaN,0.0
247,2018-10-10 14:57:26,1,1,136.576385,100,0.064236,1.672454,62.444851,62.450996,1969.265015,...,0.199997,0.2,0,0.001744,10,14,57,26,0.0,-6.0
248,2018-10-10 14:57:27,1,7,136.526093,100,0.063079,1.657986,62.768192,62.778381,1966.041138,...,0.197753,0.2,0,0.001744,10,14,57,27,6.0,0.0
320,2018-10-10 14:58:39,1,7,141.446075,100,0.063657,1.672454,61.403168,61.413521,1965.495361,...,0.200745,0.2,0,0.001743,10,14,58,39,0.0,-1.0
321,2018-10-10 14:58:40,1,8,141.415466,100,0.059028,1.667824,61.538704,61.544369,1971.671631,...,0.200745,0.2,0,0.001743,10,14,58,40,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276952,2018-10-31 14:34:36,9,1,85.100723,100,0.046875,1.678819,61.406162,61.406162,1962.552979,...,0.195103,0.2,0,0.001681,31,14,34,36,0.0,-6.0
276953,2018-10-31 14:34:37,9,7,85.071869,100,0.050926,1.649884,61.568264,61.568264,1964.300537,...,0.194102,0.2,0,0.001651,31,14,34,37,6.0,0.0
277025,2018-10-31 14:35:49,9,7,88.965073,100,0.055556,1.649884,61.236950,61.236950,2001.633423,...,0.204308,0.2,0,0.001741,31,14,35,49,0.0,-1.0
277026,2018-10-31 14:35:50,9,8,89.164322,100,0.057292,1.649884,61.186726,61.186726,2006.117188,...,0.205458,0.2,0,0.001746,31,14,35,50,1.0,0.0
278491,2018-10-31 15:00:15,9,8,112.475708,100,-0.901620,-0.567130,100.000000,100.000000,0.000000,...,-0.009387,0.2,0,-0.009103,31,15,0,15,0.0,NaN

In [31]:
# determine start and end of steps
df['dstep_p']=df['CuStepNo'].diff()
df['dstep_n']=df['CuStepNo'].diff(-1)

vsteps = [1,7,8,3]

# select rows with a step change
dfsen=df[(df['dstep_n']!=0)]
dfsep=df[(df['dstep_p']!=0)]
dfse=pd.concat([dfsen,dfsep])
dfse=dfse.sort_values(by=['timestamp'])

# create new dataframe where we store extracted information
dfinfo_steps=pd.DataFrame(columns=['step_length','start','end','stepn'])

# iterative approach
pstep=-1
c=0
for n in range(dfse.shape[0]):
    # get row
    r=dfse.iloc[n]
    if pstep==r['CuStepNo']:
        # determine step length
        stepl=r['timestamp']-dfse.iloc[n-1]['timestamp']
        # update dataframe
        dfinfo_steps.loc[c]=(stepl,dfse.iloc[n-1]['timestamp'],r['timestamp'],r['CuStepNo'])
        c=c+1
    else:
        pstep=r['CuStepNo']
print(dfinfo_steps.head())
print('Max step_length: {}'.format(dfinfo_steps['step_length'].max()))
print('Min step_length: {}'.format(dfinfo_steps['step_length'].min()))
print('#steps: {}'.format(dfinfo_steps.shape[0]))

# now determine whether the batch is complete
batchn=1
batchi=-1
dfinfo_steps["batchn"]=0
dfinfo_steps["is_complete"]=False
dfinfo_batches=pd.DataFrame(columns=['batch_length','start','end','steps','batchn','is_complete'])
n=0
b=0
while True:
    if n+len(vsteps)>dfinfo_steps.shape[0]:
        # complete info at incomplete, last batch
        steps=[]
        for v in range(dfinfo_steps.shape[0]-n):
            dfinfo_steps.at[n+v,'batchn']=batchi
            dfinfo_steps.at[n+v,'is_complete']=False
            steps.append(dfinfo_steps.at[n+v,'stepn'])
        dfinfo_batches.loc[b]=[dfinfo_steps.at[n+v,'end']-dfinfo_steps.at[n,'start'],dfinfo_steps.at[n,'start'], \
                               dfinfo_steps.at[n+v,'end'],steps,batchi,False]
        b=b+1
        break
    # check if all steps of a batch are present and in correct order
    isCorrect=True
    for v in range(len(vsteps)):
        isCorrect=dfinfo_steps.loc[n+v,'stepn']==vsteps[v]
        if not isCorrect:
            break
    if isCorrect:
        steps=[]
        for v in range(len(vsteps)):
            dfinfo_steps.at[n+v,'batchn']=batchn
            dfinfo_steps.at[n+v,'is_complete']=True
            steps.append(dfinfo_steps.at[n+v,'stepn'])
        dfinfo_batches.loc[b]=[dfinfo_steps.at[n+v,'end']-dfinfo_steps.at[n,'start'],dfinfo_steps.at[n,'start'], \
                               dfinfo_steps.at[n+v,'end'],steps,batchn,True]
        n=n+len(vsteps)
        batchn=batchn+1
        b=b+1
    else:
        steps=[]
        for vc in range(v):
            dfinfo_steps.at[n+vc,'batchn']=batchi
            dfinfo_steps.at[n+vc,'is_complete']=False
            steps.append(dfinfo_steps.at[n+v,'stepn'])
        dfinfo_batches.loc[b]=[dfinfo_steps.at[n+vc,'end']-dfinfo_steps.at[n,'start'],dfinfo_steps.at[n,'start'], \
                               dfinfo_steps.at[n+vc,'end'],steps,batchi,False]
        batchi=batchi-1
        n=n+vc
        b=b+1
# save dfinfo_steps to file
dfinfo_steps.to_pickle('SmA-Four-Tank-Info-Steps.pkl')
dfinfo_batches.to_pickle('SmA-Four-Tank-Info-Batches.pkl')

      step_length               start                 end stepn
0 0 days 00:04:07 2018-10-10 14:53:19 2018-10-10 14:57:26     1
1 0 days 00:01:12 2018-10-10 14:57:27 2018-10-10 14:58:39     7
2 0 days 00:08:52 2018-10-10 14:58:40 2018-10-10 15:07:32     8
3 0 days 00:03:17 2018-10-10 15:07:33 2018-10-10 15:10:50     3
4 0 days 00:04:08 2018-10-11 10:21:45 2018-10-11 10:25:53     1
Max step_length: 0 days 00:24:25
Min step_length: 0 days 00:00:04
#steps: 1047

In [38]:
df_steps = pd.read_pickle("C:/Users/danie/SmA-Four-Tank-Info-Steps.pkl")
df_batches = pd.read_pickle("C:/Users/danie/SmA-Four-Tank-Info-Batches.pkl")

FileNotFoundError: [Errno 2] No such file or directory: "C:/Users/danie/'SmA-Four-Tank-Info-Batches.pkl"